
*.resolved
**/.DS_Store
.swiftpm/xcode/xcuserdata/florianzand.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/florianzand.xcuserdatad/UserInterfaceState.xcuserstate
