
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.resolved
