
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.resolved
Example/Example.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Package.resolved
